---
import IconArrow from "@assets/icons/icon-arrow-down.svg";
import ItemImageElementFlower from "@assets/images/item-bg-flower-second-section.svg";
import ItemImageElement from "@assets/images/item-bg-second-section.svg";
import CardProduct from "@components/products/CardProduct.astro";
import { randomArray } from "@utils/functions/products";
import { PRODUCTS } from "@config/database.products";
import { Image } from "astro:assets";
// import { randomArray } from "@/utils/functions/products";
---

<section
  class="bg-secondaryLight mt-28 flex flex-col justify-center items-center relative px-[20px] pb-20"
  id="comemos"
>
  <a
    href="#comemos"
    class="relative -top-12 bg-secondaryLight rounded-full p-8"
  >
    <img src={IconArrow.src} alt="Icon Arrow" class="size-8" />
  </a>
  <h2 class="text-primary text-[42px] font-extrabold text-center">
    ¿Qué <strong class="text-secondary">comemos hoy?</strong>
  </h2>
  <p class="text-primary text-[19px] text-balance text-center max-w-[570px]">
    Sabemos que cuesta decir quién es mejor, si el papá o la mamá. A nosotros
    también, por eso dejamos una sugerencia, tú eliges.
  </p>
  <div
    class="grid mt-10 gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 z-10"
  >
    {
      randomArray({ arr: PRODUCTS, totalItems: 4 }).map(
        ({ slug, title, description, price, image, alt }) => (
          <CardProduct
            slug={slug}
            title={title}
            description={description}
            price={price}
            image={image}
            alt={alt}
          />
        )
      )
    }
  </div>
  <a
    href="/shop"
    class="w-full max-w-[240px] rounded-full text-white bg-primary font-bold text-[17px] text-center px-10 py-4 mt-10 hover:bg-secondary transition-all duration-500"
  >
    Más platos
  </a>
  <Image
    src={ItemImageElement}
    alt="Imagen decorativa para la sección dos"
    class="absolute top-10 left-0 w-[75px] h-[310px] hidden lg:block"
    loading="eager"
  />
  <img
    src={ItemImageElementFlower.src}
    alt="Imagen decorativa de flores para la sección dos"
    class="absolute top-50 right-0 w-[190px] h-[290px] hidden lg:block"
    loading="lazy"
  />
</section>
