---
interface ButtonLinkProps {
  url: string;
  icon: string | { src: string };
  alt: string;
  text: string;
  ariaLabel: string;
}

const { url, ariaLabel, icon, alt, text } = Astro.props as ButtonLinkProps;
const iconSrc = typeof icon === "string" ? icon : icon.src;
---

<a
  class="text-primary text-[14px] flex items-center gap-1 hover:scale-110 transition-all duration-500"
  href={url}
  aria-label={ariaLabel}
>
  <img src={iconSrc} alt={alt} aria-label={ariaLabel} class="size-[13px]" />
  <span>{text}</span>
</a>
