---
import CardProduct from "@/components/products/CardProduct.tsx";
import ArrowScroll from "@/components/common/ArrowScroll.astro";
import { PRODUCTS } from "@/db/db.products";
import { Image } from "astro:assets";
import BgSecondSectionFirst from "@/assets/img/bg/bg-second-section-1.svg";
import BgSecondSectionSecond from "@/assets/img/bg/bg-second-section-2.svg";
---

<section
  id="comemos"
  class="relative bg-[#FCF3F2] px-5 pb-28 pt-10 md:px-20 xl:px-48"
>
  <ArrowScroll url="/#comemos" backgroundColor="bg-[#FCF3F2]" />

  <div class="relative z-10 mt-10 flex flex-col items-center justify-center">
    <h2 class="mb-10 text-4xl font-extrabold text-[#262C57] md:text-5xl">
      ¿Qué <span class="text-[#D77466]">comemos hoy?</span>
    </h2>
    <p class="max-w-2xl text-balance text-center text-lg text-[#262C57]">
      Sabemos que cuesta decir quién es mejor, si el papá o la mamá. A nosotros
      también, por eso dejamos una sugerencia, tú eliges.
    </p>
  </div>
  <div
    class="relative z-10 mt-20 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4"
  >
    {
      PRODUCTS.slice(0, 4).map(({ id, title, description, price }) => (
        <CardProduct
          client:load
          id={id}
          title={title}
          description={description}
          price={price}
        />
      ))
    }
  </div>

  <div class="relative mt-16 flex justify-center">
    <a
      href="/shop"
      class="w-full max-w-xs rounded-full bg-[#262C57] px-6 py-2 text-center text-lg font-bold text-white transition-all duration-300 hover:bg-[#275C73]"
      >Más platos</a
    >
  </div>

  <!-- ELEMENTS DECORATIVES ABSOLUTES -->
  <Image
    class="absolute left-0 top-10"
    src={BgSecondSectionFirst}
    alt="Flecha hacia abajo"
  />
  <Image
    class="absolute right-0 top-96"
    src={BgSecondSectionSecond}
    alt="Imagen decorativa de una flor para la sección de productos"
  />
</section>
