---
import IconShop from "@assets/icons/bag.svg";
import IconCheck from "@assets/icons/check.svg";
import IconFile from "@assets/icons/icon-file.svg";

import { PRODUCTS } from "@config/database.products";
import MenuNav from "../../components/common/MenuNav.astro";
import Layout from "../../layouts/Layout.astro";
import { formatPriceCLP } from "@utils/functions/products";

const { slug } = Astro.params;

export async function getStaticPaths() {
  const products = PRODUCTS;
  return products.map((product) => ({
    params: { slug: product.slug },
    props: { product },
  }));
}

const { product } = Astro.props;
---

<Layout title="Welcome to Astro.">
  <main>
    <MenuNav />
    <section class="px-4 w-full flex items-center justify-center mt-14">
      <div
        class="w-full max-w-[1170px] shadow-card-shadow p-6 rounded-xl flex flex-col md:flex-row gap-8"
      >
        <div>
          <img
            src={product.image}
            alt={`Imagen representativa del producto ${product.title}`}
            class="rounded-md w-full block"
          />
        </div>
        <div>
          <div class="flex justify-between mb-8">
            <a
              href="/shop"
              class="bg-gray text-grayLight py-2 px-4 rounded-md font-medium transition-all duration-500 hover:bg-green hover:text-white"
            >
              Volver
            </a>
            <a
              href="{InfoFile}"
              target="_blank"
              rel="noopener noreferrer"
              class="flex bg-gray items-center justify-center gap-2 py-2 px-4 rounded-md text-grayLight transition-all duration-500 hover:bg-green hover:text-white"
            >
              <img
                src={IconFile.src}
                alt="Icono de archivo para descargar información nutricional"
                class="size-5"
              />
              <span>Info Nutricional</span>
            </a>
          </div>
          <div>
            <h1 class="text-primary text-[22px] font-bold">
              {product.title}{" "}
              <span class="text-secondary text-[22px] font-normal">
                - {product.category}
              </span>
            </h1>
            <p
              class="text-[17px] text-balance text-grayCart mt-6 leading-[24px] font-medium"
            >
              {product.descriptionLarge}
            </p>
          </div>
          <p class="text-primary text-[19px] font-bold mt-4">
            {formatPriceCLP(product.price)}
          </p>
          <div class="flex items-center gap-4 mt-4">
            <div
              class="flex items-center rounded-[5px] border border-secondary w-full max-w-[70px]"
            >
              <span class="px-[10px] text-[17px] font-bold text-secondary">
                1
              </span>
              <div
                class="flex flex-col justify-center w-full border-l border-secondary overflow-hidden"
              >
                <button
                  class="text-secondary font-semibold text-[16px] transition-all duration-500 hover:bg-primary hover:text-white rounded-tr-[4px]"
                >
                  +
                </button>
                <button
                  class="text-secondary font-semibold text-[16px] transition-all duration-500 hover:bg-primary hover:text-white rounded-br-[4px]"
                >
                  -
                </button>
              </div>
            </div>
            <button
              class="flex text-white items-center justify-center gap-4 bg-secondary w-full max-w-[170px] rounded-[5px] text-[15px] font-medium transition-all duration-500 hover:bg-primary py-3"
            >
              Agregar{" "}
              <img
                src={IconShop.src}
                class="size-4"
                alt="Icono de bolsa para agregar productos"
              />
            </button>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
